@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: var(--color-black, black);
    --main-text-color: var(--color-down-pink, pink);
    --title-color: var(--color-down-violet, violet);
    --accent-color: var(--color-red, red);
    --button-color: var(--color-red, red);
    --contrast-color: var(--color-red, violet);
    --cover-image: url(../images/cover-image-dark.png);
  }
}

.page.theme_dark {
  --main-background-color: var(--color-black, black);
  --main-text-color: var(--color-down-pink, pink);
  --title-color: var(--color-down-violet, violet);
  --accent-color: var(--color-red, red);
  --button-color: var(--color-red, red);
  --contrast-color: var(--color-red, violet);
  --cover-image: url(../images/cover-image-dark.png);
}
