@media (prefers-color-scheme: light) {
  :root {
    --main-background-color: var(--color-up-pink, pink);
    --main-text-color: var(--color-dark, darkgray);
    --title-color: var(--color-med-pink, pink);
    --accent-color: var(--color-up-violet, violet);
    --button-color: var(--color-dark, darkgray);
    --contrast-color: var(--color-dark, darkgray);
    --invert-color: var(--color-black, red);
    --cover-image: url(../images/cover-image-light.png);
    --decor-content: "";
  }
}

.page.theme_light {
  --main-background-color: var(--color-up-pink, pink);
  --main-text-color: var(--color-dark, darkgray);
  --title-color: var(--color-med-pink, pink);
  --accent-color: var(--color-up-violet, violet);
  --button-color: var(--color-dark, darkgray);
  --contrast-color: var(--color-dark, darkgray);
  --invert-color: var(--color-black, red);
  --cover-image: url(../images/cover-image-light.png);
  --decor-content: "";
}
