:root {
  --color-black: #000028;
  --color-dark: #353430;
  --color-down-pink: #F1B2CE;
  --color-med-pink: #FFC2E6;
  --color-up-pink: #FFF1F7;
  --color-down-violet: #DB00FF;
  --color-up-violet: #FF8DCB;
  --color-red: #FF0070;
  --paddington: 1.25rem;
  --header-caption-padding: 3.4rem;
  --complexity-title-margin: 0.625rem;
  --complexity-caption-margin: 0.625rem;
  --complexity-content-margin: 1.25rem;
  --concentration-title-margin: 1.25rem;
  --concentration-caption-margin: 0.625rem;
  --concentration-content-margin: 1.25rem;
  --improvement-title-margin: 0.625rem;
  --improvement-caption-margin: 0.625rem;
  --improvement-content-margin: 1.25rem;
  --samples-title-margin: 0.625rem;
  --header-margin: 3.6rem;
  --section-margin: 3.7rem;
}

@media (width <= 375px) {
  :root {
    --paddington: 0.625rem;
    --header-caption-padding: 0.625rem;
    --complexity-title-margin: 0.625rem;
    --complexity-caption-margin: 0.625rem;
    --complexity-content-margin: 0.7rem;
    --concentration-title-margin: 0.625rem;
    --concentration-caption-margin: 0.625rem;
    --concentration-content-margin: 0.7rem;
    --improvement-title-margin: 0.625rem;
    --improvement-caption-margin: 0.625rem;
    --improvement-content-margin: 0.7rem;
    --samples-title-margin: 0.625rem;
    --header-margin: 2.5rem;
    --section-margin: 2.5rem;
  }
}
