:root {
  --color-black: #000028;
  --color-dark: #353430;
  --color-down-pink: #F1B2CE;
  --color-med-pink: #FFC2E6;
  --color-up-pink: #FFF1F7;
  --color-down-violet: #DB00FF;
  --color-up-violet: #FF8DCB;
  --color-red: #FF0070;
  --paddington: 1.25rem;
  --section-margin: 3.85rem;
  --caption-margin: 0.85rem;
  --content-margin: 1rem;
}

@media (width <= 375px) {
  :root {
    --paddington: 0.625rem;
    --section-margin: 2.8rem;
    --caption-margin: 0.6rem;
    --content-margin: 0.875rem;
  }
}
